# Dependencies
node_modules/
.pnpm-store/

# Build outputs
dist/
build/
.next/
.open-next/
out/
.expo/
.turbo/
apps/api/uploads/
*.tsbuildinfo

# Env & secrets
.env
.env.local
.env.*.local
.env.production
.dev.vars
!.env.example
!deploy/ec2/.env.example
!apps/web/.env.example

# Prisma
apps/api/prisma/*.db

# Logs
*.log
npm-debug.log*
pnpm-debug.log*

# OS / editor
.DS_Store
Thumbs.db
.idea/
*.swp

# Coverage
coverage/
